        .search-bar {
            flex: 1;
            height: 36px;
            font-size: 16px;
            padding-left: 12px;

            box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
            border-style: solid;
            border-radius: 2px;
            border-width: 1px;
            border-color: rgb(192, 192, 192);
            width: 0;
        }
        .search-bar::placeholder{
            font-family: Roboto, Arial;
            font-size: 14px;
        }
        .header {
            position: fixed;
            top: 0; left: 0; right: 0;
            height: 60px;
        
            background-color: white;
            border-color: white;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: rgb(228, 228, 228);

            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .left-section {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .hamburger-menu {
            cursor: pointer;
            height: 22px;
            margin-left: 25px;
            margin-right: 25px;

            transition: opacity 0.20s;
        }
        .hamburger-menu:hover{
            opacity: 0.5;
        }
        .youtube-logo {
            height: 22px;
            cursor: pointer;

            transition: opacity 0.20s;
        }
        .youtube-logo:hover {
            opacity: 0.5;
        }
        .middle-section {
            flex: 1;
            margin-left: 70px;
            margin-right: 35px;
            max-width: 500px;

            display: flex;
            align-items: center;
        }
        .search {
            height: 39px;
            width: 70px;
            background-color: white;
            cursor: pointer;

            border-style: solid;
            border-radius: 1px;
            border-width: 1px;
            border-color: rgb(192, 192, 192);
            margin-left: -1px;
            margin-right: 10px;

            position:relative;
        }
        .search-icon {
            height: 25px;
            padding-top: 3px;
        }
        .search .tooltip,
        .voice .tooltip {
            position: absolute;
            background-color: gray;
            color: white;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 4px;
            font-size: 12px;
            left: 10px;
            bottom: -25px;
            opacity: 0;
            transition: opacity 0.20s;
            pointer-events: none;
            white-space: nowrap;
        }
        .search .voice  {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .search:hover .tooltip,
        .voice:hover .tooltip {
            opacity: 1;
        }
        .voice {
            height: 39px;
            width: 49px;
            cursor: pointer;

            border-radius: 20px;
            border-style: none;
            background-color: white;
            position: relative;

        }
        .voice-icon {
            height: 24px;
            margin: 3px;
            margin-left: 3px;
        }
        .right-section {
            width: 200px;
            margin-right: 25px;

            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-shrink: 0;
        }
        .upload {
            height: 24px;
            cursor: pointer;
        }
        .apps {
            height: 24px;
            cursor: pointer;
        }
        .notifications {
            height:24px;
            cursor: pointer;
        }
        .notifications-container {
            position: relative;
            cursor: pointer;
        }
        .notifications-count {
            position:absolute;
            top: -2px;
            right: -4px;
            color: white;
            background-color: rgb(202, 0, 0);
            font-size: 11px;
            padding-left:5px;
            padding-right: 5px;
            padding-top: 2px;
            padding-bottom: 2px;

            border-radius: 10px;

        }
        .profile-pic {
            height: 34px;
            border-radius: 16px;
        }